{% extends 'base.html '%}


{% block content %}

  {% if passwordreset == 'done' %}

      <div class="card bg-info">
        <h3 class="card-header">Password reset sent</h3>
        <div class="card-body">
          <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
      </div>
     
  {% elif passwordreset == 'complete' %}
      <div class="card">
        <h3 class="card-header">Password Reset Complete</h3>
        <div class="card-body">
          <p>Your password has been set. You may go ahead and log in now.</p>
          <a href="{% url 'login' %}" class="btn btn-outline-info">Log in</a>
        </div>
      </div>

  {% else %}
      <div class="login-container">
        <div class="col-lg-6 login-form-1 mx-auto">
          {% if passwordreset != 'confirm' %}
          <h3>Forgotten your password?</h3> 
          <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
          {% endif %}
          <form class="user-form" method="post">
            {% csrf_token %}
            {{form.email}}
              <input type="submit" class="btnSubmit" value="Reset password" />
          </form>
          <div class="d-flex">
            <a href="{% url 'sign-up' %}" class="ForgetPwd">Sign Up</a>
          </div>
        </div>
      </div>

    </div>  

  {% endif %}

{% endblock %}